HELP.md
build/
Dockerfile
/build/
notifications/allure-notifications-4.7.0.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle

### Logs ###
*.log